html {
    background-color:lightblue;
}
#header  {

    display:inline-block; 
    color: brown;
    background-color: lightpink;

}
#button {
    padding-right: 10%;
    padding-left: 10%;

}
h1{
    font-size: large;
    color: red;
    text-anchor: middle;
}