html {
    background-color: burlywood;
}
.header  {

    display:flex; 
    flex-direction: row;
 
    color: brown;
    background-color: lightgreen;

}
.flags{
    margin-left: 15%;
}
#button {
    padding-right: 10%;
    padding-left: 10%;

}
#welcome{
    font-size: large;
    color: black;
    text-anchor: middle;
}

.card-group{
display: flex;
flex-direction: row;
margin-left: 5%;
}


#header2{
    font-size: large;
}

.clearb{
    margin-left: 5%;
}

.easyP{
    background-color: lightblue;
}

.harderP{
    background-color: rgb(226, 112, 112)
}